<header class="bg-coral">
  <h1>Welcome NGX Castle Design System</h1>
</header>
<router-outlet></router-outlet>
<div class="text-center">
  <h2>UI Module</h2>

  <div class="bg-blue-300">
    <baz-button label="My button2">
      <span btn-before>before text </span>
      <span btn-after>after text</span>
    </baz-button>
    <br>
    <baz-badge></baz-badge>
    <baz-icon></baz-icon>
  </div>
  <div class="bg-green-300">
    <h2>Forms module</h2>
    <baz-text-input></baz-text-input>
    <br>
    <baz-text-area></baz-text-area>
  </div>

  <div class="btn-primary">
    <h2>Table Module</h2>
    <baz-table-basic></baz-table-basic>
    <br>
    <baz-table-std></baz-table-std>
  </div>
  <div class="btn-primary">
    <h2>Elements Module</h2>
    <baz-card-basic></baz-card-basic>
    <br>
    <baz-card-std></baz-card-std>
  </div>

</div>

<br>
<hr>

<baz-button lable="Baz button BEN">
  <span before> this is the before</span>
</baz-button>
